<!DOCTYPE html>
<html>
<head>
	<title>Ozan Ödev - Food Detail</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<p>
	Results for <strong>{{nut_results.report.food.name}}</strong>
</p>
<div>
	<ul>
		{% for item in nut_results.report.food.nutrients %}
			<li>
				 <strong>{{item.name}}</strong> : {{item.value}} {{item.unit}} 
				 {% for item in item.measures %}
				 	value for {{item.qty}} {{item.label}} = {{item.eqv}} {{item.eunit}} 

				 {% endfor %}
			</li>
		{% endfor %}
	</ul>
	<form action="javascript:history.back()">
    	<input type="submit" value="<< Back to Results" />
	</form>
</div>
</body>
</html>