<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form action="/search" method="get">
	<p>
		<label>search here...</label>
		<input type="text" name="squery"> <!-- variable for views.py -->
		<input type="submit" value="search!">
	</p>
	
</form>
<h2>Search Results 1 - 100 </h2>
<p>
	Results for <strong>{{search_query}}</strong>
</p>
<div>
	<ul>
		{% for item in search_results.list.item %}
			<li>
				<a href = "/food_detail?ndbno={{item.ndbno}}">  {{item.name}} </a>
			</li>
		{% endfor %}
	</ul>
 	<a href = "/" > << Back to Search
</div>
</body>
</html>